.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      position: relative;
      font-size: 1.6rem;
    }
  
    &:hover {
      box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
    }
  
    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  
    &--white {
      background-color: $color-white;
      color: $color-text-grey;
    }
  
    &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }
  